@import '../../assets/scss/common/_variable.scss';
@import '../../assets/scss/common/_mixins.scss';

.color-palette{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 48px;
    .color-box{
        padding: 24px 56px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        .color-box__bg{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin-bottom: 24px;
        }
        .color-box__name{
            font-size: 24px;
            line-height: 32px;
            color: $color-grayscale;
            margin-bottom: 8px;
        }
        .color-box__text{
            font-size: 16px;
            line-height: 24px;
            color: rgba($color-grayscale, 0.7);
        }
    }
}