@import '../../assets/scss/common/_variable.scss';
@import '../../assets/scss/common/_mixins.scss';

.alert{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    
    .icon{
        font-size: 32px;
    }
    .title-h3{
        margin-bottom: 6px;
        color: darken($color-primary, 90%);
    }
    p{
        color: $color-grayscale;
        font-size: 16px;
        margin-bottom: 0;
    }
    .alert-col{
        &:last-child{
            padding-left: 10px;
        }
    }
    .alert-bouton{
        display: flex;
        padding-top: 10px;
        button{
            &:last-child{
                margin-left: 10px;
            }
        }
    }
    &.alert-info{
        border-left: 4px solid $color-primary;
        .icon{
            color: $color-primary;
        }
    }
    &.alert-sucess{
        border-left: 4px solid $color-sucess;
        .icon{
            color: $color-sucess;
        }
    }
    &.alert-warning{
        border-left: 4px solid $color-warning;
        .icon{
            color: $color-warning;
        }
    }
    &.alert-error{
        border-left: 4px solid $color-error;
        .icon{
            color: $color-error;
        }
    }
    &.alert-2{
        align-items: center;
        justify-content: space-between;
        .icon{
            color: #FFF;
            margin-right: 10px;
            font-size: 25px;
        }
        .alert-bouton{
            padding-top: 0;
        }
        &.alert-info{
            background-color: $color-primary;
        }
        &.alert-sucess{
            background-color: $color-sucess;
        }
        &.alert-warning{
            background-color: $color-warning;
        }
        &.alert-error{
            background-color: $color-error;
        }
        .alert-col{
            display: flex;
        }
        .title-h3{
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
            color: #FFF;
        }
        button{
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
        }
    }
}